langchain
langchain-community
langchain-pinecone
pinecone-client
langchain-huggingface
langgraph
pypdf
sentence-transformers
tiktoken
python-dotenv
docling
gradio
langchain-aws
boto3
langchain-google-genai
