langchain
langchain-community
langchain-chroma
langchain-huggingface
langgraph
pypdf
sentence-transformers
chromadb
tiktoken
python-dotenv
docling
gradio
langchain
langchain-aws
python-dotenv 
boto3
langchain-google-genai
